.btn {
  border: unset;
  background-color: unset;
  text-transform: uppercase;
  cursor: pointer;
  transition-duration: 0.356s;
  position: relative;
  box-shadow: 2px 2px 2px 2px #00000020;
}

.btn:focus {
  outline: unset;
}

.btn:active {
  box-shadow: 0px 0px 0px 0px #00000020;
}

.btn-overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: block;
  width: 100%;
  height: 100%;
  background-color: transparent;
  color: inherit;
  border-radius: inherit;
}

.btn-overlay:active {
  background-color: #00000010;
}

.btn-default {
  color: #000000d9;
  background-color: #f3f3f3;
}

.btn-blue {
  background-color: #3c85eb;
  color: #ffffff;
}

.btn-red {
  background-color: #e1445e;
  color: #ffffff;
}

.btn-green {
  background-color: #1c8e16;
  color: #ffffff;
}

.btn-orange {
  background-color: rgb(241, 140, 8);
  color: #000000;
}

.btn-small {
  font-size: 11px;
  padding: 2px 4px;
  margin: 2px 4px;
  border-radius: 2px;
}

.btn-medium {
  border-radius: 4px;
  padding: 4px 8px;
  margin: 4px 6px;
}

.btn-large {
  font-size: 15px;
  padding: 8px 16px;
  margin: 6px 8px;
  border-radius: 8px;
}

.outlined {
  background-color: #00000010;
  border: 1px solid in
}

.btn-disabled {
  box-shadow: unset;
  cursor: not-allowed;
}

.btn-overlay-disabled {
  background-color: #f0f0f0aa;
}
