/* Initailly reset all spacings present by default */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#react-form-root {
  width: 100vw;
}

.main-container {
  margin: 4px;
  padding: 4px;
  width: calc(100% - 8px)
}
