.text-field {
  background-color: #ffffff80;
  border-radius: 4px;
  margin: 4px;
  padding: 10px 8px;
  font-size: 14.67px;
}

.text-field.small {
  padding: 8px 6px;
}

.text-field.medium {
  padding: 10px 8px;
  font-size: 14.67px;
}

.text-field.large {
  padding: 12px 10px;
  font-size: 16.67px;
}

.text-field.fullWidth {
  width: calc(100% - 8px)
}
